@{
    Layout = null;
}

<!DOCTYPE html>
<!--Realizado por el Grupo2 de Integración de Software-->
<!--Aquí se muestra el mensaje de error cuando no se loguea de manera correcta-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error en la autenticacion </title>
</head>
<body>
    <div>
        Error en la autenticacion, por favor revise el usuario y/o contraseña
    </div>
</body>
</html>
